node_modules
dist
.env 
.vscode/**
!.vscode/launch.json
src/providers/data/nasdaqlisted.txt
src/providers/data/otherlisted.txt
yarn-error.log
.DS_Store

newrelic_agent.log
 
 

!environment/backups
environment/backups/**

docker-compose.yml
Dockerfile

globalConfig.json

coverage


public/maps/**.zip

pulbic/maps/unit-test-map.json
