node_modules
dist
.env 
.vscode/**
!.vscode/launch.json
src/providers/data/nasdaqlisted.txt
src/providers/data/otherlisted.txt
yarn-error.log
.DS_Store

environment/*.env
environment/docker-compose.*.yml
environment/Dockerfile.*

environment/keys/**
!environment/backups
environment/backups/**

docker-compose.yml
Dockerfile
